<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ElevateR</title>

        <!-- External CSS files for Leaflet and other dependencies -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/leaflet.awesome-markers.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        
        <!-- External JS libraries: Leaflet.js for maps and MarkerCluster plugin -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>

        <!-- Custom HeatMap JS -->
        <script src="{{ url_for('static', filename='js/simpleheat.js') }}"></script>
        <script src="{{ url_for('static', filename='js/HeatLayer.js') }}"></script>
    </head>
    <body>
        <!-- Header section with the main title and subtitle -->
        <header>
            <h1>ElevateR</h1>
            <h3>Elevation Map for Public Transport Travel Time</h3>
        </header>

        <!-- Div for the map -->
        <div id="map"></div>

        <!-- Text box to display the selected bus stop -->
        <div id="elevateDiv">
            <input id="selectedBusStop" value="Select a bus stop" class="prevent-select" readonly />
        </div>
        
        <!-- Div containing the elevate button -->
        <div id="elevateDiv">
            <button id="elevateButton">Elevate</button>
        </div>

        <!-- Footer section -->
        <footer>
            <p id="footertext">&copy; 2024 | ElevateR</p>
        </footer>

        <!-- Script to parse stations data from the server -->
        <script>
            const stations = JSON.parse('{{ stations | tojson | safe }}');
        </script>

        <!-- Main JavaScript file for the application -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
